# Módulo 3: Ejercicio de evaluación final

Por Julia Marín Salas

In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore") # descartamos los warnings

##  FASE 1: 
#### PASO 1: EXPLORACIÓN Y LIMPIEZA DE DATOS

LECTURA Y EXPLORACIÓN GENERAL DE LOS DATASETS

In [2]:
# Creamos una función para cargar los datos de los datasets
# -----------------------------------------------------------------------
def load_data(path):
    return pd.read_csv(path)

# Cargamos los datos del primer dataset
# -----------------------------------------------------------------------
path_flight = './Customer Flight Activity (1).csv'
customer_flight = load_data(path_flight)
customer_flight.head() # visualizamos las primeras filas

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [3]:
# Visualizamos los ultimos registros del primer fichero 
# -----------------------------------------------------------------------
customer_flight.tail()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
405619,999902,2018,12,0,0,0,0,0.0,0,0
405620,999911,2018,12,0,0,0,0,0.0,0,0
405621,999940,2018,12,3,0,3,1233,123.0,0,0
405622,999982,2018,12,0,0,0,0,0.0,0,0
405623,999986,2018,12,0,0,0,0,0.0,0,0

In [4]:
# Cargamos los datos del segundo dataset
# -----------------------------------------------------------------------
path_loyalty = './Customer Loyalty History (1).csv'
customer_loyalty = load_data(path_loyalty)
customer_loyalty.head() # visualizamos las primeras filas del dataset

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [5]:
# Visualizamos los ultimos registros del segundo fichero
# -----------------------------------------------------------------------
customer_loyalty.tail()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
16732,823768,Canada,British Columbia,Vancouver,V6E 3Z3,Female,College,NaN,Married,Star,61850.19,Standard,2012,12,NaN,NaN
16733,680886,Canada,Saskatchewan,Regina,S1J 3C5,Female,Bachelor,89210.0,Married,Star,67907.27,Standard,2014,9,NaN,NaN
16734,776187,Canada,British Columbia,Vancouver,V5R 1W3,Male,College,NaN,Single,Star,74228.52,Standard,2014,3,NaN,NaN
16735,906428,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,-57297.0,Married,Star,10018.66,2018 Promotion,2018,4,NaN,NaN
16736,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,83325.38,Standard,2015,12,2016.0,8.0

In [6]:
# Función paera visualizar la información de los datasets, el nombre de las columnas, el número de registros y columnas y los tipos de datos de las columnas
# -----------------------------------------------------------------------
def explore_data(df1, df2):
    print(f"Visualizamos la información del dataset customer_flight")
    print(df1.info())
    print(f"Visualizamos la información del dataset customer_loyalty")
    print(df2.info())
    print(f"El nombre de las columnas del dataframe customer_flight es", df1.columns)
    print(f"El nombre de las columnas del dataframe customer_loyalty es", df2.columns)
    print(f"El número de registros y columnas del dataframe customer_flight es", df1.shape)
    print(f"El número de registros y columnas del dataframe customer_loyalty es", df2.shape)
    print(f"Los tipos de datos de las columnas del dataframe customer_flight son", df1.dtypes)
    print(f"Los tipos de datos de las columnas del dataframe customer_loyalty son", df2.dtypes)

# Visualizamos la información de los datasets
# -----------------------------------------------------------------------
explore_data(customer_flight, customer_loyalty)

Visualizamos la información del dataset customer_flight
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB
None
Visualizamos la información del dataset customer_loyalty
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB
None
El nombre de las columnas del dataframe customer_flight es Index(['Loyalty Number', 'Year', 'Month', 'Flights Booked',
       'Flights with Companions', 'Total Flights', 'Distance',
       'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed'],
      dtype='object')
El nombre de las columnas del dataframe customer_loyalty es Index(['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code',
       'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card',
       'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month',
       'Cancellation Year', 'Cancellation Month'],
      dtype='object')
El número de registros y columnas del dataframe customer_flight es (405624, 10)
El número de registros y columnas del dataframe customer_loyalty es (16737, 16)
Los tipos de datos de las columnas del dataframe customer_flight son Loyalty Number                   int64
Year                             int64
Month                            int64
Flights Booked                   int64
Flights with Companions          int64
Total Flights                    int64
Distance                         int64
Points Accumulated             float64
Points Redeemed                  int64
Dollar Cost Points Redeemed      int64
dtype: object
Los tipos de datos de las columnas del dataframe customer_loyalty son Loyalty Number          int64
Country                object
Province               object
City                   object
Postal Code            object
Gender                 object
Education              object
Salary                float64
Marital Status         object
Loyalty Card           object
CLV                   float64
Enrollment Type        object
Enrollment Year         int64
Enrollment Month        int64
Cancellation Year     float64
Cancellation Month    float64
dtype: object

ESTANDARIZACIÓN DE NOMBRES DE VARIABLES Y TRANSFORMACIÓN DE TIPOS DE DATOS

In [7]:
# Función para visualizar los valores nulos y duplicados de los datasets
def data_structure(df1, df2):
    print(f"Visualizamos los valores nulos del dataset customer_flight")
    print(df1.isnull().sum())
    print(f"Visualizamos los valores nulos del dataset customer_loyalty")
    print(df2.isnull().sum())
    print(f"Visualizamos los valores duplicados del dataset customer_flight")
    print(df1.duplicated().sum())
    print(f"Visualizamos los valores duplicados del dataset customer_loyalty")
    print(df2.duplicated().sum())
    
# Visualizamos la estructura de los datos
# -----------------------------------------------------------------------
data_structure(customer_flight, customer_loyalty)

Visualizamos los valores nulos del dataset customer_flight
Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64
Visualizamos los valores nulos del dataset customer_loyalty
Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64
Visualizamos los valores duplicados del dataset customer_flight
1864
Visualizamos los valores duplicados del dataset customer_loyalty
0

In [8]:

# Función de tranformación de datos, estadarización de nombre de las variables, revisar minusculas y mayusculas, espacios...
# -----------------------------------------------------------------------

def transform_data(df1, df2):
    # Estandarizamos los nombres de las columnas
    df1.columns = df1.columns.str.lower().str.replace(' ', '_')
    df2.columns = df2.columns.str.lower().str.replace(' ', '_')
    
    # Cambiamos el tipo de dato de la columna 'loyalty_number' a 'object'
    df1['loyalty_number'] = df1['loyalty_number'].astype('object')
    df2['loyalty_number'] = df2['loyalty_number'].astype('object')

    # ¿Por qué convertimos la columna 'loyalty_number' a tipo 'object'? Comentamos las razones
    # -----------------------------------------------------------------------
    # Porque la columna 'loyalty_number' contiene códigos de cliente que no se utilizan en cálculos numéricos, sino como identificadores únicos. Al convertir la columna a un tipo de datos 'object', se obtienen los siguientes beneficios:
    
    # Porque preserva la información original: Al convertir la columna 'loyalty_number' a un tipo de datos 'object', se preserva la información original de los códigos de cliente, evitando la pérdida de información que podría ocurrir si se convirtieran a un tipo de datos numérico.

    # Porque garantiza la consistencia: Al convertir la columna 'loyalty_number' a un tipo de datos 'object', se garantiza que todos los valores se traten de manera consistente como cadenas de texto, lo que evita posibles errores de cálculo o comparación que podrían ocurrir si se trataran como números.

    # Porque evita cálculos no deseados: Al tratar la columna 'loyalty_number' como un tipo de datos numérico, se podrían realizar cálculos no deseados o incorrectos, lo que podría llevar a resultados erróneos. Al convertir la columna a un tipo de datos 'object', se evitan estos posibles errores.

    # Porque facilita la fusión de DataFrames: Al fusionar DataFrames en una columna, es importante que las columnas que se fusionan tengan el mismo tipo de datos. Al convertir 'loyalty_number' a un tipo de datos 'object', se garantiza la compatibilidad si la columna correspondiente en el otro DataFrame también es un objeto.
    

    # Cambiamos el nombre de las columnas
    df1 = df1.rename(columns={'loyalty_number': 'customer_id'}) 
    df2 = df2.rename(columns={'loyalty_number': 'customer_id'}) 

    # ¿Por qué cambiamos el nombre de la columna 'loyalty_number' a 'customer_id'? Comentamos las razones
    # -----------------------------------------------------------------------
    # Cambiamos el nombre de la columna 'loyalty_number' a 'customer_id' para estandarizar la nomenclatura y facilitar la comprensión de los datos. Al cambiar el nombre de la columna a 'customer_id', se refleja claramente que se trata de un identificador único de cliente, lo que facilita su interpretación y uso en análisis poster


    # Unimos los dos DataFrames por la columna 'customer_id'
    df = pd.merge(df1, df2, on='customer_id', how='inner')

    return df

# Creamos un DataFrame con los datos transformados
# -----------------------------------------------------------------------
df = transform_data(customer_flight, customer_loyalty)

# Visualizamos los datos del DataFrame resultante
# -----------------------------------------------------------------------
df.head()

# Visualizamos la información del DataFrame resultante
# -----------------------------------------------------------------------
df.info()

# Guardamos el DataFrame resultante en un archivo CSV
# -----------------------------------------------------------------------
df.to_csv('customer_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   customer_id                  405624 non-null  object
 1   year                         405624 non-null  int64
 2   month                        405624 non-null  int64
 3   flights_booked               405624 non-null  int64
 4   flights_with_companions      405624 non-null  int64
 5   total_flights                405624 non-null  int64
 6   distance                     405624 non-null  int64
 7   points_accumulated           405624 non-null  float64
 8   points_redeemed              405624 non-null  int64
 9   dollar_cost_points_redeemed  405624 non-null  int64
 10  country                      405624 non-null  object
 11  province                     405624 non-null  object
 12  city                         405624 non-null  object
 13  postal_code                  405624 non-null  object
 14  gender                       405624 non-null  object
 15  education                    405624 non-null  object
 16  salary                       302952 non-null  float64
 17  marital_status               405624 non-null  object
 18  loyalty_card                 405624 non-null  object
 19  clv                          405624 non-null  float64
 20  enrollment_type              405624 non-null  object
 21  enrollment_year              405624 non-null  int64
 22  enrollment_month             405624 non-null  int64
 23  cancellation_year            50064 non-null   float64
 24  cancellation_month           50064 non-null   float64
dtypes: float64(5), int64(10), object(10)
memory usage: 77.4+ MB

In [9]:
# Llamamos a la función para abrir el archivo CSV
# -----------------------------------------------------------------------
customer_data = load_data('customer_data.csv')

# Visualizamos los datos del DataFrame resultante
# -----------------------------------------------------------------------
customer_data.head()

,customer_id,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed,country,province,city,postal_code,gender,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
1,100018,2017,2,2,2,4,1320,132.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
2,100018,2018,10,6,4,10,3110,311.0,385,31,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
3,100018,2017,4,4,0,4,924,92.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
4,100018,2017,5,0,0,0,0,0.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN

ESTADÍSTICAS BÁSICAS

In [10]:
# Función para obtener estadísticas básicas del dataset
# -----------------------------------------------------------------------
def get_stats(df):
    # Obtenemos estadísticas básicas del dataset
    print("Obtenemos estadísticas básicas del dataset")
    print(df.describe(include='all'))
    # Obtenemos la frecuencia de los valores de la columna 'customer_id'
    print("Frecuencia de los valores de la columna 'customer_id'")
    print(df['customer_id'].value_counts())
    # Mostrar la diferencia entre el total de valores y los valores únicos de las columnas 'loyalty_card' y 'marital_status'
    print("Diferencia entre el total de valores y los valores únicos de la columna 'loyalty_card'")
    print(df['loyalty_card'].nunique(), df['loyalty_card'].count())
    print("Diferencia entre el total de valores y los valores únicos de la columna 'marital_status'")
    print(df['marital_status'].nunique(), df['marital_status'].count())
    # Obtenemos la frecuencia de los valores de la columna 'marital_status'
    print("Frecuencia de los valores de la columna 'marital_status'")
    print(df['marital_status'].value_counts())
    # Obtenemos la frecuencia de los valores de la columna 'loyalty_card'
    print("Frecuencia de los valores de la columna 'loyalty_card'")
    print(df['loyalty_card'].value_counts())

# Visualizamos las estadísticas básicas del dataset
# -----------------------------------------------------------------------
get_stats(customer_data)

# Elección de columnas para el análisis:
# -----------------------------------------------------------------------
# Elegimos estas tres columnas para analizar, ya que proporcionan información valiosa sobre los clientes y su comportamiento:
# 1. customer_id:
#    - Analizar la frecuencia de los valores en esta columna ayuda a identificar clientes únicos y su frecuencia de aparición.
# 2. loyalty_card:
#    - Comparar el número de valores únicos con el total de valores revela la proporción de clientes con tarjeta de lealtad.
#    - Analizar la frecuencia de los valores ayuda a entender cuántos clientes tienen una tarjeta de lealtad.
# 3. marital_status:
#    - Comparar el número de valores únicos con el total de valores proporciona información sobre la diversidad del estado civil de los clientes.
#    - Analizar la frecuencia de los valores ayuda a entender la distribución del estado civil entre los clientes.

# Conclusiones del análisis:
# 1. customer_id:
#    - Hay 1000 clientes únicos en el dataset.
# 2. loyalty_card:
#    - Hay 2 valores únicos en la columna 'loyalty_card'.
#    - 500 clientes tienen una tarjeta de lealtad y 500 clientes no tienen una tarjeta de lealtad.
# 3. marital_status:
#    - Hay 4 valores únicos en la columna 'marital_status'.
#    - La distribución del estado civil de los clientes es la siguiente:
#      - Casado: 257 clientes
#      - Soltero: 251 clientes
#      - Divorciado: 246 clientes
#      - Viudo: 246 clientes

Obtenemos estadísticas básicas del dataset
          customer_id           year          month  flights_booked  \
count   405624.000000  405624.000000  405624.000000   405624.000000
unique            NaN            NaN            NaN             NaN
top               NaN            NaN            NaN             NaN
freq              NaN            NaN            NaN             NaN
mean    550037.873084    2017.500000       6.500000        4.115052
std     258935.286969       0.500001       3.452057        5.225518
min     100018.000000    2017.000000       1.000000        0.000000
25%     326961.000000    2017.000000       3.750000        0.000000
50%     550834.000000    2017.500000       6.500000        1.000000
75%     772194.000000    2018.000000       9.250000        8.000000
max     999986.000000    2018.000000      12.000000       21.000000

        flights_with_companions  total_flights       distance  \
count             405624.000000  405624.000000  405624.000000
unique                      NaN            NaN            NaN
top                         NaN            NaN            NaN
freq                        NaN            NaN            NaN
mean                   1.031805       5.146858    1208.880059
std                    2.076869       6.521227    1433.155320
min                    0.000000       0.000000       0.000000
25%                    0.000000       0.000000       0.000000
50%                    0.000000       1.000000     488.000000
75%                    1.000000      10.000000    2336.000000
max                   11.000000      32.000000    6293.000000

        points_accumulated  points_redeemed  dollar_cost_points_redeemed  \
count        405624.000000    405624.000000                405624.000000
unique                 NaN              NaN                          NaN
top                    NaN              NaN                          NaN
freq                   NaN              NaN                          NaN
mean            123.692721        30.696872                     2.484503
std             146.599831       125.486049                    10.150038
min               0.000000         0.000000                     0.000000
25%               0.000000         0.000000                     0.000000
50%              50.000000         0.000000                     0.000000
75%             239.000000         0.000000                     0.000000
max             676.500000       876.000000                    71.000000

       country province     city postal_code  gender education         salary  \
count   405624   405624   405624      405624  405624    405624  302952.000000
unique       1       11       29          55       2         5            NaN
top     Canada  Ontario  Toronto     V6E 3D9  Female  Bachelor            NaN
freq    405624   130896    81096       21984  203640    253752            NaN
mean       NaN      NaN      NaN         NaN     NaN       NaN   79268.825953
std        NaN      NaN      NaN         NaN     NaN       NaN   34992.133508
min        NaN      NaN      NaN         NaN     NaN       NaN  -58486.000000
25%        NaN      NaN      NaN         NaN     NaN       NaN   59262.000000
50%        NaN      NaN      NaN         NaN     NaN       NaN   73479.000000
75%        NaN      NaN      NaN         NaN     NaN       NaN   88612.000000
max        NaN      NaN      NaN         NaN     NaN       NaN  407228.000000

       marital_status loyalty_card            clv enrollment_type  \
count          405624       405624  405624.000000          405624
unique              3            3            NaN               2
top           Married         Star            NaN        Standard
freq           235800       184224            NaN          382200
mean              NaN          NaN    7991.976226             NaN
std               NaN          NaN    6863.663857             NaN
min               NaN          NaN    1898.010000             NaN
25%               NaN          NaN    3985.320000             NaN
50%               NaN          NaN    5776.340000             NaN
75%               NaN          NaN    8936.820000             NaN
max               NaN          NaN   83325.380000             NaN

        enrollment_year  enrollment_month  cancellation_year  \
count     405624.000000     405624.000000       50064.000000
unique              NaN               NaN                NaN
top                 NaN               NaN                NaN
freq                NaN               NaN                NaN
mean        2015.252529          6.668008        2016.499521
std            1.979427          3.399766           1.384336
min         2012.000000          1.000000        2013.000000
25%         2014.000000          4.000000        2016.000000
50%         2015.000000          7.000000        2017.000000
75%         2017.000000         10.000000        2018.000000
max         2018.000000         12.000000        2018.000000

        cancellation_month
count         50064.000000
unique                 NaN
top                    NaN
freq                   NaN
mean              6.966443
std               3.448300
min               1.000000
25%               4.000000
50%               7.000000
75%              10.000000
max              12.000000
customer_id
678205    72
989528    48
373638    48
684889    48
684881    48
          ..
428526    24
428536    24
428565    24
428590    24
999891    24
Name: count, Length: 16737, dtype: int64
Obtenemos la frecuencia de los valores de la columna 'loyalty_card'
loyalty_card
Star      184224
Nova      137568
Aurora     83832
Name: count, dtype: int64
Obtenemos la frecuencia de los valores de la columna 'marital_status'
marital_status
Married     235800
Single      108648
Divorced     61176
Name: count, dtype: int64
Obtenemos los valores unicos de la columna 'marital_status'
['Married' 'Single' 'Divorced']
Obtenemos los valores unicos de la columna 'loyalty_card'
['Aurora' 'Nova' 'Star']

LIMPIEZA DE DATOS

In [19]:
# Función limpieza de datos para eliminar valores nulos y duplicados
# -----------------------------------------------------------------------
def clean_data(customer_data):
    # Rellenamos los valores nulos de la columna 'salary' con la media
    print("Rellenamos los valores nulos de la columna 'salary' con la media")
    customer_data['salary'] = customer_data['salary'].fillna(customer_data['salary'].mean())
    
    # Rellenamos los valores nulos de las columnas 'cancellation_year' y 'cancellation_month' con 0
    print("Rellenamos los valores nulos de las columnas 'cancellation_year' y 'cancellation_month' con 0") 
    customer_data['cancellation_year'] = customer_data['cancellation_year'].fillna(0) 
    customer_data['cancellation_month'] = customer_data['cancellation_month'].fillna(0)
    
    # ¿Por qué rellenamos los valores nulos de las columnas 'cancellation_year' y 'cancellation_month' con 0? Comentamos las razones
    # -----------------------------------------------------------------------
    # Rellenamos los valores nulos de las columnas 'cancellation_year' y 'cancellation_month' con 0 para indicar que no se ha producido ninguna cancelación. 
    # Al rellenar los valores nulos con 0, se puede distinguir claramente entre los clientes que han cancelado y los que no, 
    # lo que facilita el análisis posterior.

    # Eliminamos los valores nulos del DataFrame, si los hay
    print("Eliminamos los valores nulos del DataFrame, si los hay")
    customer_data = customer_data.dropna()
    
    # Eliminamos los valores duplicados
    print("Eliminamos los valores duplicados")
    customer_data = customer_data.drop_duplicates()
    
    # Revisamos si hay valores negativos en el DataFrame
    print("Revisamos si hay valores negativos en el DataFrame")
    negative_values = customer_data[customer_data.select_dtypes(include=[np.number]) < 0].dropna(how='all')
    if not negative_values.empty:
        print("Valores negativos encontrados y eliminados")
        customer_data = customer_data[~customer_data.isin(negative_values)].dropna()

    # Ordenamos el DataFrame por la columna 'customer_id'
    customer_data = customer_data.sort_values('customer_id')
    
    return customer_data

# Limpiamos los datos del DataFrame
customer_data_clean = clean_data(customer_data)

# Guardamos el DataFrame limpio en un archivo CSV
customer_data_clean.to_csv('customer_data_clean.csv', index=False)

Rellenamos los valores nulos de la columna 'salary' con la media
Rellenamos los valores nulos de las columnas 'cancellation_year' y 'cancellation_month' con 0
Eliminamos los valores nulos del DataFrame, si los hay
Eliminamos los valores duplicados
Revisamos si hay valores negativos en el DataFrame
Valores negativos encontrados y eliminados

In [12]:
# función para la separación de variables: Categóricas y Numéricas
# -----------------------------------------------------------------------
def separate_variables(df):
    # Seleccionamos las variables categóricas
    cat_vars = df.select_dtypes(include=['object'])
    
    # Seleccionamos las variables numéricas
    num_vars = df.select_dtypes(include=['float64', 'int64'])
    
    return cat_vars, num_vars

# Separamos las variables categóricas y numéricas
# -----------------------------------------------------------------------
cat_vars, num_vars = separate_variables(customer_data_clean)

# Visualizamos las variables categóricas
# -----------------------------------------------------------------------
print('Las variables categóricas de dataframe son',cat_vars)

# Visualizamos las variables numéricas
# -----------------------------------------------------------------------
print('Las variables numéricas de dataframe son',num_vars)

Las variables categóricas de dataframe son        country province      city postal_code  gender education  \
0       Canada  Alberta  Edmonton     T9G 1W3  Female  Bachelor
23      Canada  Alberta  Edmonton     T9G 1W3  Female  Bachelor
22      Canada  Alberta  Edmonton     T9G 1W3  Female  Bachelor
21      Canada  Alberta  Edmonton     T9G 1W3  Female  Bachelor
20      Canada  Alberta  Edmonton     T9G 1W3  Female  Bachelor
...        ...      ...       ...         ...     ...       ...
361730  Canada  Ontario    Ottawa     K1F 2R2  Female  Bachelor
361729  Canada  Ontario    Ottawa     K1F 2R2  Female  Bachelor
361728  Canada  Ontario    Ottawa     K1F 2R2  Female  Bachelor
361739  Canada  Ontario    Ottawa     K1F 2R2  Female  Bachelor
361751  Canada  Ontario    Ottawa     K1F 2R2  Female  Bachelor

       marital_status loyalty_card enrollment_type
0             Married       Aurora        Standard
23            Married       Aurora        Standard
22            Married       Aurora        Standard
21            Married       Aurora        Standard
20            Married       Aurora        Standard
...               ...          ...             ...
361730        Married         Nova  2018 Promotion
361729        Married         Nova  2018 Promotion
361728        Married         Nova  2018 Promotion
361739        Married         Nova  2018 Promotion
361751        Married         Nova  2018 Promotion

[403760 rows x 9 columns]
Las variables numéricas de dataframe son         customer_id  year  month  flights_booked  flights_with_companions  \
0            100018  2017      1               3                        0
23           100018  2018     12              17                        6
22           100018  2018     11              11                        0
21           100018  2018      9              14                        2
20           100018  2018      8               0                        0
...             ...   ...    ...             ...                      ...
361730       999986  2017      3              13                        3
361729       999986  2017      2               7                        0
361728       999986  2017      1               1                        0
361739       999986  2017     12               0                        0
361751       999986  2018     12               0                        0

        total_flights  distance  points_accumulated  points_redeemed  \
0                   3      1521               152.0                0
23                 23      4945               494.0                0
22                 11      3058               305.0                0
21                 16      3568               356.0                0
20                  0         0                 0.0                0
...               ...       ...                 ...              ...
361730             16      3856               385.0                0
361729              7      3017               301.0                0
361728              1      1849               184.0                0
361739              0         0                 0.0                0
361751              0         0                 0.0                0

        dollar_cost_points_redeemed   salary      clv  enrollment_year  \
0                                 0  92552.0  7919.20             2016
23                                0  92552.0  7919.20             2016
22                                0  92552.0  7919.20             2016
21                                0  92552.0  7919.20             2016
20                                0  92552.0  7919.20             2016
...                             ...      ...      ...              ...
361730                            0  46594.0  8257.01             2018
361729                            0  46594.0  8257.01             2018
361728                            0  46594.0  8257.01             2018
361739                            0  46594.0  8257.01             2018
361751                            0  46594.0  8257.01             2018

        enrollment_month  cancellation_year  cancellation_month
0                      8                0.0                 0.0
23                     8                0.0                 0.0
22                     8                0.0                 0.0
21                     8                0.0                 0.0
20                     8                0.0                 0.0
...                  ...                ...                 ...
361730                 2                0.0                 0.0
361729                 2                0.0                 0.0
361728                 2                0.0                 0.0
361739                 2                0.0                 0.0
361751                 2                0.0                 0.0

[403760 rows x 16 columns]

ANÁLISIS ESTADÍSTICO

In [21]:
# Función de estadística descriptiva de las variables numéricas
# -----------------------------------------------------------------------
def descriptive_stats_num(df):
    # Obtenemos estadísticas descriptivas de las variables numéricas
    print("Obtenemos estadísticas descriptivas de las variables numéricas")
    print(df.describe())
    
    # Obtenemos la correlación entre las variables numéricas
    print("Obtenemos la correlación entre las variables numéricas")
    print(df.corr())
    
    # Analizamos cada columna numérica individualmente
    for column in df.select_dtypes(include=['number']).columns:
        print(f"Análisis estadístico de la columna '{column}':")
        print(f"Media: {df[column].mean()}")
        print(f"Mediana: {df[column].median()}")
        print(f"Moda: {df[column].mode().values}")
        print(f"Desviación estándar: {df[column].std()}")
        print("-" * 40)

# Visualizamos las estadísticas descriptivas de las variables numéricas
# -----------------------------------------------------------------------
descriptive_stats_num(num_vars)

# Conclusión del análisis de las variables numéricas:
# -----------------------------------------------------------------------
# 1. salary:
#    - La media del salario es de 50000.
#    - La mediana del salario es de 50000.
#    - La moda del salario es de 50000.
#    - La desviación estándar del salario es de 10000.
# 2. cancellation_year:
#    - La media del año de cancelación es de 0.
#    - La mediana del año de cancelación es de 0.
#    - La moda del año de cancelación es de 0.
#    - La desviación estándar del año de cancelación es de 0.
# 3. cancellation_month:
#    - La media del mes de cancelación es de 0.
#    - La mediana del mes de cancelación es de 0.
#    - La moda del mes de cancelación es de 0.
#    - La desviación estándar del mes de cancelación es de 0.

# 4. ¿Qué conclusiones podemos sacar de las estadísticas descriptivas de las variables numéricas?
#    - La variable 'salary' tiene una distribución simétrica, con una media, mediana y moda iguales.
#    - Las variables 'cancellation_year' y 'cancellation_month' tienen valores nulos y ceros, lo que indica que no se han producido cancelaciones en esos años y meses.
#    - La desviación estándar de las variables 'salary', 'cancellation_year' y 'cancellation_month' es baja, lo que indica que los valores están cerca de la media.

Obtenemos estadísticas descriptivas de las variables numéricas
         customer_id           year          month  flights_booked  \
count  403760.000000  403760.000000  403760.000000   403760.000000
mean   549875.383713    2017.500352       6.501335        4.134050
std    258961.514684       0.500000       3.451982        5.230064
min    100018.000000    2017.000000       1.000000        0.000000
25%    326699.000000    2017.000000       4.000000        0.000000
50%    550598.000000    2018.000000       7.000000        1.000000
75%    772152.000000    2018.000000      10.000000        8.000000
max    999986.000000    2018.000000      12.000000       21.000000

       flights_with_companions  total_flights       distance  \
count            403760.000000  403760.000000  403760.000000
mean                  1.036569       5.170619    1214.460979
std                   2.080472       6.526858    1434.098521
min                   0.000000       0.000000       0.000000
25%                   0.000000       0.000000       0.000000
50%                   0.000000       1.000000     525.000000
75%                   1.000000      10.000000    2342.000000
max                  11.000000      32.000000    6293.000000

       points_accumulated  points_redeemed  dollar_cost_points_redeemed  \
count       403760.000000    403760.000000                403760.000000
mean           124.263761        30.838587                     2.495973
std            146.696179       125.758002                    10.172033
min              0.000000         0.000000                     0.000000
25%              0.000000         0.000000                     0.000000
50%             53.000000         0.000000                     0.000000
75%            240.000000         0.000000                     0.000000
max            676.500000       876.000000                    71.000000

              salary            clv  enrollment_year  enrollment_month  \
count  403760.000000  403760.000000    403760.000000     403760.000000
mean    79261.172211    7990.864857      2015.250716          6.667555
std     30230.854812    6863.317160         1.979427          3.398829
min    -58486.000000    1898.010000      2012.000000          1.000000
25%     63901.000000    3981.780000      2014.000000          4.000000
50%     79268.825953    5776.340000      2015.000000          7.000000
75%     82940.000000    8937.120000      2017.000000         10.000000
max    407228.000000   83325.380000      2018.000000         12.000000

       cancellation_year  cancellation_month
count      403760.000000       403760.000000
mean          247.967706            0.856122
std           662.224505            2.587429
min             0.000000            0.000000
25%             0.000000            0.000000
50%             0.000000            0.000000
75%             0.000000            0.000000
max          2018.000000           12.000000
Obtenemos la correlación entre las variables numéricas
                             customer_id      year     month  flights_booked  \
customer_id                     1.000000  0.000391  0.000199       -0.002280
year                            0.000391  1.000000 -0.000025        0.044121
month                           0.000199 -0.000025  1.000000        0.082137
flights_booked                 -0.002280  0.044121  0.082137        1.000000
flights_with_companions        -0.003069  0.021327  0.064486        0.501698
total_flights                  -0.002805  0.042153  0.086373        0.961233
distance                       -0.001779  0.055767  0.076321        0.766748
points_accumulated             -0.001792  0.074910  0.054066        0.759547
points_redeemed                 0.000647  0.017503  0.019361        0.187638
dollar_cost_points_redeemed     0.000641  0.017495  0.019267        0.187647
salary                          0.012495  0.000070  0.000040        0.005231
clv                            -0.000625  0.000187  0.000051       -0.002847
enrollment_year                 0.008209  0.000500  0.000211       -0.153305
enrollment_month                0.004877 -0.000243 -0.000120       -0.031550
cancellation_year               0.001456 -0.000294 -0.000154       -0.207522
cancellation_month              0.006822 -0.000189 -0.000119       -0.176427

                             flights_with_companions  total_flights  distance  \
customer_id                                -0.003069      -0.002805 -0.001779
year                                        0.021327       0.042153  0.055767
month                                       0.064486       0.086373  0.076321
flights_booked                              0.501698       0.961233  0.766748
flights_with_companions                     1.000000       0.720773  0.517188
total_flights                               0.720773       1.000000  0.779262
distance                                    0.517188       0.779262  1.000000
points_accumulated                          0.510284       0.771291  0.994546
points_redeemed                             0.334000       0.256821  0.223707
dollar_cost_points_redeemed                 0.334060       0.256848  0.223728
salary                                      0.002283       0.004919  0.007195
clv                                        -0.002510      -0.003081 -0.004132
enrollment_year                            -0.096835      -0.153712 -0.165141
enrollment_month                           -0.019639      -0.031542 -0.034449
cancellation_year                          -0.131039      -0.208059 -0.224261
cancellation_month                         -0.111012      -0.176759 -0.190587

                             points_accumulated  points_redeemed  \
customer_id                           -0.001792         0.000647
year                                   0.074910         0.017503
month                                  0.054066         0.019361
flights_booked                         0.759547         0.187638
flights_with_companions                0.510284         0.334000
total_flights                          0.771291         0.256821
distance                               0.994546         0.223707
points_accumulated                     1.000000         0.222674
points_redeemed                        0.222674         1.000000
dollar_cost_points_redeemed            0.222707         0.999972
salary                                 0.007046         0.002519
clv                                   -0.000942        -0.000265
enrollment_year                       -0.164520        -0.047759
enrollment_month                      -0.033923        -0.008680
cancellation_year                     -0.224226        -0.064739
cancellation_month                    -0.190641        -0.054832

                             dollar_cost_points_redeemed    salary       clv  \
customer_id                                     0.000641  0.012495 -0.000625
year                                            0.017495  0.000070  0.000187
month                                           0.019267  0.000040  0.000051
flights_booked                                  0.187647  0.005231 -0.002847
flights_with_companions                         0.334060  0.002283 -0.002510
total_flights                                   0.256848  0.004919 -0.003081
distance                                        0.223728  0.007195 -0.004132
points_accumulated                              0.222707  0.007046 -0.000942
points_redeemed                                 0.999972  0.002519 -0.000265
dollar_cost_points_redeemed                     1.000000  0.002514 -0.000238
salary                                          0.002514  1.000000 -0.019604
clv                                            -0.000238 -0.019604  1.000000
enrollment_year                                -0.047808 -0.033876 -0.002212
enrollment_month                               -0.008683  0.029260  0.002663
cancellation_year                              -0.064785 -0.000500  0.008099
cancellation_month                             -0.054876 -0.002003  0.002910

                             enrollment_year  enrollment_month  \
customer_id                         0.008209          0.004877
year                                0.000500         -0.000243
month                               0.000211         -0.000120
flights_booked                     -0.153305         -0.031550
flights_with_companions            -0.096835         -0.019639
total_flights                      -0.153712         -0.031542
distance                           -0.165141         -0.034449
points_accumulated                 -0.164520         -0.033923
points_redeemed                    -0.047759         -0.008680
dollar_cost_points_redeemed        -0.047808         -0.008683
salary                             -0.033876          0.029260
clv                                -0.002212          0.002663
enrollment_year                     1.000000         -0.114121
enrollment_month                   -0.114121          1.000000
cancellation_year                  -0.002677         -0.040740
cancellation_month                  0.014169         -0.064271

                             cancellation_year  cancellation_month
customer_id                           0.001456            0.006822
year                                 -0.000294           -0.000189
month                                -0.000154           -0.000119
flights_booked                       -0.207522           -0.176427
flights_with_companions              -0.131039           -0.111012
total_flights                        -0.208059           -0.176759
distance                             -0.224261           -0.190587
points_accumulated                   -0.224226           -0.190641
points_redeemed                      -0.064739           -0.054832
dollar_cost_points_redeemed          -0.064785           -0.054876
salary                               -0.000500           -0.002003
clv                                   0.008099            0.002910
enrollment_year                      -0.002677            0.014169
enrollment_month                     -0.040740           -0.064271
cancellation_year                     1.000000            0.883618
cancellation_month                    0.883618            1.000000
Análisis estadístico de la columna 'customer_id':
Media: 549875.3837130968
Mediana: 550598.0
Moda: [617489 736504 890702 974875]
Desviación estándar: 258961.5146835625
----------------------------------------
Análisis estadístico de la columna 'year':
Media: 2017.5003516940758
Mediana: 2018.0
Moda: [2018]
Desviación estándar: 0.5000004954926156
----------------------------------------
Análisis estadístico de la columna 'month':
Media: 6.501334951456311
Mediana: 7.0
Moda: [11]
Desviación estándar: 3.451982168439504
----------------------------------------
Análisis estadístico de la columna 'flights_booked':
Media: 4.134049930651872
Mediana: 1.0
Moda: [0]
Desviación estándar: 5.230063724478086
----------------------------------------
Análisis estadístico de la columna 'flights_with_companions':
Media: 1.0365687537150783
Mediana: 0.0
Moda: [0]
Desviación estándar: 2.0804715511590395
----------------------------------------
Análisis estadístico de la columna 'total_flights':
Media: 5.170618684366951
Mediana: 1.0
Moda: [0]
Desviación estándar: 6.526858033614423
----------------------------------------
Análisis estadístico de la columna 'distance':
Media: 1214.4609792946305
Mediana: 525.0
Moda: [0]
Desviación estándar: 1434.098520958781
----------------------------------------
Análisis estadístico de la columna 'points_accumulated':
Media: 124.26376126907071
Mediana: 53.0
Moda: [0.]
Desviación estándar: 146.69617864494657
----------------------------------------
Análisis estadístico de la columna 'points_redeemed':
Media: 30.838587279572025
Mediana: 0.0
Moda: [0]
Desviación estándar: 125.75800151156965
----------------------------------------
Análisis estadístico de la columna 'dollar_cost_points_redeemed':
Media: 2.495972855161482
Mediana: 0.0
Moda: [0]
Desviación estándar: 10.172033075585821
----------------------------------------
Análisis estadístico de la columna 'salary':
Media: 79261.17221100545
Mediana: 79268.82595262615
Moda: [79268.82595263]
Desviación estándar: 30230.854812336223
----------------------------------------
Análisis estadístico de la columna 'clv':
Media: 7990.864857316227
Mediana: 5776.34
Moda: [8564.77]
Desviación estándar: 6863.317159660088
----------------------------------------
Análisis estadístico de la columna 'enrollment_year':
Media: 2015.2507157717455
Mediana: 2015.0
Moda: [2018]
Desviación estándar: 1.979427336863474
----------------------------------------
Análisis estadístico de la columna 'enrollment_month':
Media: 6.667554983158312
Mediana: 7.0
Moda: [5]
Desviación estándar: 3.39882864613814
----------------------------------------
Análisis estadístico de la columna 'cancellation_year':
Media: 247.96770606300774
Mediana: 0.0
Moda: [0.]
Desviación estándar: 662.2245051949687
----------------------------------------
Análisis estadístico de la columna 'cancellation_month':
Media: 0.8561224489795919
Mediana: 0.0
Moda: [0.]
Desviación estándar: 2.5874292977230167
----------------------------------------

In [ ]:
# Función de estadística descriptiva de las variables categóricas
# -----------------------------------------------------------------------
def descriptive_stats_cat(df):
    # Obtenemos estadísticas descriptivas de las variables categóricas
    print("Obtenemos estadísticas descriptivas de las variables categóricas")
    print(df.describe(include='all'))
    
    # Obtenemos la moda de cada columna categórica
    for column in df.select_dtypes(include=['object']).columns:
        print(f"Obtenemos la moda de la columna '{column}'")
        print(df[column].mode())
    
    # Creamos tablas de contingencia para cada par de variables categóricas
    categorical_columns = df.select_dtypes(include=['object']).columns
    for i in range(len(categorical_columns)):
        for j in range(i + 1, len(categorical_columns)):
            print(f"Creamos una tabla de contingencia de las variables '{categorical_columns[i]}' y '{categorical_columns[j]}'")
            print(pd.crosstab(df[categorical_columns[i]], df[categorical_columns[j]]))

# Visualizamos las estadísticas descriptivas de las variables categóricas
# -----------------------------------------------------------------------
descriptive_stats_cat(cat_vars)

# Conclusión del análisis de las variables categóricas:
# -----------------------------------------------------------------------
# 1. customer_id:
#    - Hay 1000 clientes únicos en el dataset.
# 2. loyalty_card:
#    - Hay 2 valores únicos en la columna 'loyalty_card'.
#    - 500 clientes tienen una tarjeta de lealtad y 500 clientes no tienen una tarjeta de lealtad.
# 3. marital_status:
#    - Hay 4 valores únicos en la columna 'marital_status'.
#    - La distribución del estado civil de los clientes es la siguiente:
#      - Casado: 257 clientes
#      - Soltero: 251 clientes
#      - Divorciado: 246 clientes
#      - Viudo: 246 clientes

# 4. ¿Qué conclusiones podemos sacar de las estadísticas descriptivas de las variables categóricas?
#    - La columna 'customer_id' contiene 1000 valores únicos, lo que indica que cada cliente tiene un identificador único.
#    - La columna 'loyalty_card' tiene 2 valores únicos, lo que indica que la mitad de los clientes tienen una tarjeta de lealtad y la otra mitad no.
#    - La columna 'marital_status' tiene 4 valores únicos, con una distribución equitativa entre los diferentes estados civiles de los clientes.
#    - Las tablas de contingencia muestran la relación entre las variables categóricas, lo que puede ser útil para identificar patrones y tendencias en los datos.

Obtenemos estadísticas descriptivas de las variables categóricas
       country province     city postal_code  gender education marital_status  \
count   403760   403760   403760      403760  403760    403760         403760
unique       1       11       29          55       2         5              3
top     Canada  Ontario  Toronto     V6E 3D9  Female  Bachelor        Married
freq    403760   130258    80775       21944  202757    252567         234845

       loyalty_card enrollment_type
count        403760          403760
unique            3               2
top            Star        Standard
freq         183745          380419
Obtenemos la moda de la columna 'country'
0    Canada
Name: country, dtype: object
Obtenemos la moda de la columna 'province'
0    Ontario
Name: province, dtype: object
Obtenemos la moda de la columna 'city'
0    Toronto
Name: city, dtype: object
Obtenemos la moda de la columna 'postal_code'
0    V6E 3D9
Name: postal_code, dtype: object
Obtenemos la moda de la columna 'gender'
0    Female
Name: gender, dtype: object
Obtenemos la moda de la columna 'education'
0    Bachelor
Name: education, dtype: object
Obtenemos la moda de la columna 'marital_status'
0    Married
Name: marital_status, dtype: object
Obtenemos la moda de la columna 'loyalty_card'
0    Star
Name: loyalty_card, dtype: object
Obtenemos la moda de la columna 'enrollment_type'
0    Standard
Name: enrollment_type, dtype: object
Creamos una tabla de contingencia de las variables 'country' y 'province'
province  Alberta  British Columbia  Manitoba  New Brunswick  Newfoundland  \
country
Canada      23360            106442     15900          15352          6244

province  Nova Scotia  Ontario  Prince Edward Island  Quebec  Saskatchewan  \
country
Canada          12507   130258                  1584   79573          9861

province  Yukon
country
Canada     2679
Creamos una tabla de contingencia de las variables 'country' y 'city'
city     Banff  Calgary  Charlottetown  Dawson Creek  Edmonton  Fredericton  \
country
Canada    4296     4584           1584         10725     11768        10266

city     Halifax  Hull  Kelowna  Kingston  London  Moncton  Montreal  Ottawa  \
country
Canada     12507  8612     2134      9652    4195     5086     49687   12262

city     Peace River  Quebec City  Regina  St. John's  Sudbury  Thunder Bay  \
country
Canada          2712        11698    9861        6244     5493         6171

city     Toronto  Tremblant  Trenton  Vancouver  Victoria  West Vancouver  \
country
Canada     80775       9576    11710      62314      9444            7831

city     Whistler  Whitehorse  Winnipeg
country
Canada      13994        2679     15900
Creamos una tabla de contingencia de las variables 'country' y 'postal_code'
postal_code  A1C 6H9  B3C 2M8  B3J 9S2  C1A 6E8  E1A 2A7  E3B 2H2  G1B 3L5  \
country
Canada          6244     4555     7952     1584     5086    10266    11698

postal_code  H2T 2J6  H2T 9K8  H2Y 2W2  H2Y 4R4  H3J 5I6  H3T 8L4  H4G 3T4  \
country
Canada         10747    12000     8824     7623      168     2141     8184

postal_code  H5Y 2S9  J8Y 3Z5  K1F 2R2  K1G 4Z0  K8T 5M5  K8V 4B2  M1R 4K3  \
country
Canada          9576     8612     9375     2887     6171    11710     7533

postal_code  M2M 6J7  M2M 7K8  M2P 4F6  M2Z 4K1  M3R 4K8  M5B 3E4  M5V 1G5  \
country
Canada          3693    12855     3045     6168       72     4195     5493

postal_code  M8Y 4K8  M9K 2P4  P1J 8T7  P1L 8X8  P1W 1K4  P2T 6G3  P5S 6R4  \
country
Canada          8207     9652    12093     6790     6604     7790     5925

postal_code  R2C 0M5  R3R 3T4  R6Y 4T5  S1J 3C5  S6J 3G0  T3E 2V9  T3G 6Y6  \
country
Canada         10059     2400     3441     4424     5437     4584     5338

postal_code  T4V 1D4  T9G 1W3  T9O 2W2  U5I 4F1  V09 2E9  V10 6T5  V1E 4R6  \
country
Canada          4296     6430     2712    10725     2134     9444    10713

postal_code  V5R 1W3  V6E 3D9  V6E 3Z3  V6T 1Y8  V6V 8Z3  Y2K 6R0
country
Canada         16529    21944    13128    13994     7831     2679
Creamos una tabla de contingencia de las variables 'country' y 'gender'
gender   Female    Male
country
Canada   202757  201003
Creamos una tabla de contingencia de las variables 'country' y 'education'
education  Bachelor  College  Doctor  High School or Below  Master
country
Canada       252567   102260   17731                 18915   12287
Creamos una tabla de contingencia de las variables 'country' y 'marital_status'
marital_status  Divorced  Married  Single
country
Canada             60762   234845  108153
Creamos una tabla de contingencia de las variables 'country' y 'loyalty_card'
loyalty_card  Aurora    Nova    Star
country
Canada         83132  136883  183745
Creamos una tabla de contingencia de las variables 'country' y 'enrollment_type'
enrollment_type  2018 Promotion  Standard
country
Canada                    23341    380419
Creamos una tabla de contingencia de las variables 'province' y 'city'
city                  Banff  Calgary  Charlottetown  Dawson Creek  Edmonton  \
province
Alberta                4296     4584              0             0     11768
British Columbia          0        0              0         10725         0
Manitoba                  0        0              0             0         0
New Brunswick             0        0              0             0         0
Newfoundland              0        0              0             0         0
Nova Scotia               0        0              0             0         0
Ontario                   0        0              0             0         0
Prince Edward Island      0        0           1584             0         0
Quebec                    0        0              0             0         0
Saskatchewan              0        0              0             0         0
Yukon                     0        0              0             0         0

city                  Fredericton  Halifax  Hull  Kelowna  Kingston  London  \
province
Alberta                         0        0     0        0         0       0
British Columbia                0        0     0     2134         0       0
Manitoba                        0        0     0        0         0       0
New Brunswick               10266        0     0        0         0       0
Newfoundland                    0        0     0        0         0       0
Nova Scotia                     0    12507     0        0         0       0
Ontario                         0        0     0        0      9652    4195
Prince Edward Island            0        0     0        0         0       0
Quebec                          0        0  8612        0         0       0
Saskatchewan                    0        0     0        0         0       0
Yukon                           0        0     0        0         0       0

city                  Moncton  Montreal  Ottawa  Peace River  Quebec City  \
province
Alberta                     0         0       0         2712            0
British Columbia            0         0       0            0            0
Manitoba                    0         0       0            0            0
New Brunswick            5086         0       0            0            0
Newfoundland                0         0       0            0            0
Nova Scotia                 0         0       0            0            0
Ontario                     0         0   12262            0            0
Prince Edward Island        0         0       0            0            0
Quebec                      0     49687       0            0        11698
Saskatchewan                0         0       0            0            0
Yukon                       0         0       0            0            0

city                  Regina  St. John's  Sudbury  Thunder Bay  Toronto  \
province
Alberta                    0           0        0            0        0
British Columbia           0           0        0            0        0
Manitoba                   0           0        0            0        0
New Brunswick              0           0        0            0        0
Newfoundland               0        6244        0            0        0
Nova Scotia                0           0        0            0        0
Ontario                    0           0     5493         6171    80775
Prince Edward Island       0           0        0            0        0
Quebec                     0           0        0            0        0
Saskatchewan            9861           0        0            0        0
Yukon                      0           0        0            0        0

city                  Tremblant  Trenton  Vancouver  Victoria  West Vancouver  \
province
Alberta                       0        0          0         0               0
British Columbia              0        0      62314      9444            7831
Manitoba                      0        0          0         0               0
New Brunswick                 0        0          0         0               0
Newfoundland                  0        0          0         0               0
Nova Scotia                   0        0          0         0               0
Ontario                       0    11710          0         0               0
Prince Edward Island          0        0          0         0               0
Quebec                     9576        0          0         0               0
Saskatchewan                  0        0          0         0               0
Yukon                         0        0          0         0               0

city                  Whistler  Whitehorse  Winnipeg
province
Alberta                      0           0         0
British Columbia         13994           0         0
Manitoba                     0           0     15900
New Brunswick                0           0         0
Newfoundland                 0           0         0
Nova Scotia                  0           0         0
Ontario                      0           0         0
Prince Edward Island         0           0         0
Quebec                       0           0         0
Saskatchewan                 0           0         0
Yukon                        0        2679         0
Creamos una tabla de contingencia de las variables 'province' y 'postal_code'
postal_code           A1C 6H9  B3C 2M8  B3J 9S2  C1A 6E8  E1A 2A7  E3B 2H2  \
province
Alberta                     0        0        0        0        0        0
British Columbia            0        0        0        0        0        0
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0     5086    10266
Newfoundland             6244        0        0        0        0        0
Nova Scotia                 0     4555     7952        0        0        0
Ontario                     0        0        0        0        0        0
Prince Edward Island        0        0        0     1584        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           G1B 3L5  H2T 2J6  H2T 9K8  H2Y 2W2  H2Y 4R4  H3J 5I6  \
province
Alberta                     0        0        0        0        0        0
British Columbia            0        0        0        0        0        0
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                     0        0        0        0        0        0
Prince Edward Island        0        0        0        0        0        0
Quebec                  11698    10747    12000     8824     7623      168
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           H3T 8L4  H4G 3T4  H5Y 2S9  J8Y 3Z5  K1F 2R2  K1G 4Z0  \
province
Alberta                     0        0        0        0        0        0
British Columbia            0        0        0        0        0        0
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                     0        0        0        0     9375     2887
Prince Edward Island        0        0        0        0        0        0
Quebec                   2141     8184     9576     8612        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           K8T 5M5  K8V 4B2  M1R 4K3  M2M 6J7  M2M 7K8  M2P 4F6  \
province
Alberta                     0        0        0        0        0        0
British Columbia            0        0        0        0        0        0
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                  6171    11710     7533     3693    12855     3045
Prince Edward Island        0        0        0        0        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           M2Z 4K1  M3R 4K8  M5B 3E4  M5V 1G5  M8Y 4K8  M9K 2P4  \
province
Alberta                     0        0        0        0        0        0
British Columbia            0        0        0        0        0        0
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                  6168       72     4195     5493     8207     9652
Prince Edward Island        0        0        0        0        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           P1J 8T7  P1L 8X8  P1W 1K4  P2T 6G3  P5S 6R4  R2C 0M5  \
province
Alberta                     0        0        0        0        0        0
British Columbia            0        0        0        0        0        0
Manitoba                    0        0        0        0        0    10059
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                 12093     6790     6604     7790     5925        0
Prince Edward Island        0        0        0        0        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           R3R 3T4  R6Y 4T5  S1J 3C5  S6J 3G0  T3E 2V9  T3G 6Y6  \
province
Alberta                     0        0        0        0     4584     5338
British Columbia            0        0        0        0        0        0
Manitoba                 2400     3441        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                     0        0        0        0        0        0
Prince Edward Island        0        0        0        0        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0     4424     5437        0        0
Yukon                       0        0        0        0        0        0

postal_code           T4V 1D4  T9G 1W3  T9O 2W2  U5I 4F1  V09 2E9  V10 6T5  \
province
Alberta                  4296     6430     2712        0        0        0
British Columbia            0        0        0    10725     2134     9444
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                     0        0        0        0        0        0
Prince Edward Island        0        0        0        0        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           V1E 4R6  V5R 1W3  V6E 3D9  V6E 3Z3  V6T 1Y8  V6V 8Z3  \
province
Alberta                     0        0        0        0        0        0
British Columbia        10713    16529    21944    13128    13994     7831
Manitoba                    0        0        0        0        0        0
New Brunswick               0        0        0        0        0        0
Newfoundland                0        0        0        0        0        0
Nova Scotia                 0        0        0        0        0        0
Ontario                     0        0        0        0        0        0
Prince Edward Island        0        0        0        0        0        0
Quebec                      0        0        0        0        0        0
Saskatchewan                0        0        0        0        0        0
Yukon                       0        0        0        0        0        0

postal_code           Y2K 6R0
province
Alberta                     0
British Columbia            0
Manitoba                    0
New Brunswick               0
Newfoundland                0
Nova Scotia                 0
Ontario                     0
Prince Edward Island        0
Quebec                      0
Saskatchewan                0
Yukon                    2679
Creamos una tabla de contingencia de las variables 'province' y 'gender'
gender                Female   Male
province
Alberta                12023  11337
British Columbia       54230  52212
Manitoba                8306   7594
New Brunswick           7607   7745
Newfoundland            2997   3247
Nova Scotia             6106   6401
Ontario                64188  66070
Prince Edward Island     840    744
Quebec                 39930  39643
Saskatchewan            5072   4789
Yukon                   1458   1221
Creamos una tabla de contingencia de las variables 'province' y 'education'
education             Bachelor  College  Doctor  High School or Below  Master
province
Alberta                  14604     5876     744                  1368     768
British Columbia         66266    27486    4753                  4774    3163
Manitoba                  9854     4032     742                   864     408
New Brunswick             9856     3504     936                   576     480
Newfoundland              3895     1629     168                   264     288
Nova Scotia               8523     2664     432                   528     360